$black: #3b3c40;
$grey: #f4f6f8;
$darkGrey: #9293b0;
$purpleLight: #f3efff;
$pink: #e50e78;
$line: #dfdff0;
$purleGradient: linear-gradient(145deg, #7d68fb 33.75%, #afa2fb 80.01%);
$buttonGradient: linear-gradient(96deg, #dd3197 0%, #822faf 101.4%);
$buttonGradientHover: linear-gradient(96deg, #fa67bf 0%, #be63ef 101.4%);

@import url("https://fonts.cdnfonts.com/css/euclid-circular-a");

* {
  font-family: "Euclid Circular A", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: $black;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

.text {
  font-weight: 500;

  &_20 {
    font-size: 20px;
    line-height: 120%;

    @media (max-width: 375px) {
      font-size: 14px;
      line-height: 130%;
    }
  }

  &_18 {
    font-size: 18px;
    line-height: 130%;

    @media (max-width: 375px) {
      font-size: 14px;
    }
  }

  &_16 {
    font-size: 16px;
    line-height: 140%;

    @media (max-width: 375px) {
      font-size: 12px;
    }
  }

  &_14 {
    font-size: 14px;
    line-height: 140%;

    @media (max-width: 375px) {
      font-size: 12px;
    }
  }
}

.header {
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 15px;

  @media (max-width: 375px) {
    max-width: 375px;
    margin-bottom: 46px;
  }
}

.logo_mobile {
  width: 41px;
  height: 41px;
}

.burgerButton {
  display: none;
  background-color: $pink;
  padding: 9px;
  border-radius: 10px;
  border: none;

  @media (max-width: 375px) {
    display: block;
  }
}

.nav {
  display: flex;
  justify-content: space-between;

  &__list {
    display: flex;
    gap: 40px;

    &_mobile {
      display: flex;
      max-width: 355px;
      justify-content: space-between;
      margin: 10px auto;
    }

    &_right {
      gap: 30px;
    }

    &_bottom {
      gap: 15px;

      @media (max-width: 375px) {
        margin-right: 0;
        gap: 12px;
        margin-left: 10px;
        max-width: 365px;
        overflow: hidden;
      }
    }
  }

  &_bottom {
    margin-right: 180px;
    margin-left: auto;
    gap: 73px;
  }

  &_top {
    margin-bottom: 14px;
    max-width: 1920px;
    background-color: $grey;
    padding: 13px 180px;

    @media (max-width: 375px) {
      display: none;
    }
  }

  &__item {
    display: flex;
    align-items: center;

    &_desctop {
      @media (max-width: 375px) {
        display: none;
      }
    }

    &_mobile {
      display: none;

      @media (max-width: 375px) {
        display: inline;
      }
    }

    &_grey {
      background-color: $grey;
      border-radius: 15px;
      padding: 13px 24px;
      gap: 5px;

      @media (max-width: 375px) {
        padding: 8px 12px;
      }

      &_mobile {
        display: none;
        @media (max-width: 375px) {
          display: flex;
        }
      }
    }

    &_picture {
      display: flex;
      gap: 7px;
      align-items: center;

      @media (max-width: 375px) {
        font-size: 15px;
        img {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}

.searchBlock {
  display: flex;
  align-items: center;
  align-self: flex-end;
  margin-right: 180px;

  @media (max-width: 375px) {
    margin-right: 10px;
    gap: 8px;
  }

  &__logo {
    margin-right: 34px;

    @media (max-width: 375px) {
      display: none;
    }
  }

  &__input {
    padding: 5px 5px 5px 25px;
    width: 915px;
    justify-content: space-between;
    margin-right: 40px;
    @media (max-width: 375px) {
      width: 305px;
      padding: 3px 3px 3px 20px;
      margin-right: 0;
    }

    &::placeholder {
      color: $darkGrey;
      line-height: 50px;
    }
  }

  &__links {
    display: flex;
    gap: 30px;

    @media (max-width: 375px) {
      display: none;
    }
  }
}

.button {
  border-radius: 15px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;

  &_catalog {
    background-color: $pink;
    color: white;
    padding: 5px 5px 5px 20px;
    gap: 13px;
    margin-right: 25px;

    @media (max-width: 375px) {
      display: none;
    }
  }

  &_search {
    border-radius: 10px;
    background-color: $pink;
    padding: 13px;

    @media (max-width: 375px) {
      padding: 8px;

      img {
        width: 20px;
        height: 20px;
      }
    }
  }

  &__icon {
    background-color: white;
    border-radius: 10px;
    padding: 13px;
  }

  &_phone {
    background-color: $pink;
    padding: 13px 24px;
    color: white;
    gap: 10px;
    @media (max-width: 375px) {
      display: none;
    }
  }
}

.input {
  border: none;
  outline: none;

  &__img {
    @media (max-width: 375px) {
      width: 20px;
      height: 20px;
    }
  }

  &__error {
    font-size: 12px;
    font-weight: 500;
    line-height: 140%;
    color: $pink;
    position: absolute;
    top: 64px;
    left: 20px;
    display: none;

    &_active {
      display: block;
    }
  }

  &__container {
    border: 1px solid $pink;
    border-radius: 15px;
    display: flex;

    &_form {
      padding: 18px 25px;
      margin-bottom: 30px;
      position: relative;

      @media (max-width: 375px) {
        padding: 11px 20px;
      }

      &:first-of-type {
        margin-bottom: 10px;
      }
    }
  }

  &_form {
    background-color: transparent;
    margin-left: 6px;
  }
}

.link__icon {
  height: 52px;
  display: flex;
  align-items: flex-end;
  background-repeat: no-repeat;
  background-position-x: center;
  position: relative;

  &_account {
    background-image: url(../images/account.svg);
  }

  &_favourite {
    background-image: url(../images/heart.svg);
  }

  &_cart {
    background-image: url(../images/cart.svg);
  }
}

.counter {
  border-radius: 100%;
  background-color: $pink;
  color: white;
  position: absolute;
  top: 1.5px;
  height: 22px;
  width: 22px;
  display: flex;
  align-items: center;
  justify-content: center;

  &_favourite {
    left: 54.5px;
  }

  &_cart {
    left: 43.5px;
  }
}

.slider {
  background-color: $purpleLight;
  padding: 40px !important;
  border-radius: 50px;
  max-width: 1560px;
  margin: 80px auto;
  position: relative !important;
  box-sizing: border-box !important;
  height: fit-content !important;

  @media (max-width: 375px) {
    max-width: 375px;
    padding: 10px 10px 40px 10px !important;
    border-radius: 20px;
    margin: 0;
    margin-bottom: 30px;
  }

  &__wrapper {
    display: flex !important;
    gap: 20px;

    @media (max-width: 375px) {
      display: grid !important;
      row-gap: 10px;
      column-gap: 9px;
    }
  }

  &__item {
    position: relative;
    width: 375px;
    height: 422px;

    @media (max-width: 375px) {
      width: 173px;
      grid-row: 2;
      height: 295px;
    }

    &_desc {
      display: block;

      @media (max-width: 375px) {
        display: none;
      }
    }

    &_mob {
      display: none;

      @media (max-width: 375px) {
        display: block;
      }
    }

    &_form {
      width: 100%;
      height: 100%;
      background-color: white;
      padding: 25px;
      clip-path: polygon(100% 7.109%, 100% 7.109%, 99.895% 5.956%, 99.592% 4.862%, 99.107% 3.842%, 98.456% 2.911%, 97.657% 2.082%, 96.725% 1.372%, 95.677% 0.793%, 94.529% 0.362%, 93.298% 0.093%, 92% 0%, 8% 0%, 8% 0%, 6.702% 0.093%, 5.471% 0.362%, 4.324% 0.793%, 3.275% 1.372%, 2.343% 2.082%, 1.544% 2.911%, 0.893% 3.842%, 0.408% 4.862%, 0.105% 5.956%, 0% 7.109%, 0% 92.891%, 0% 92.891%, 0.105% 94.044%, 0.408% 95.138%, 0.893% 96.158%, 1.544% 97.09%, 2.343% 97.918%, 3.275% 98.628%, 4.324% 99.207%, 5.471% 99.638%, 6.702% 99.907%, 8% 100%, 73.333% 100%, 73.333% 100%, 74.631% 99.907%, 75.862% 99.638%, 77.01% 99.207%, 78.058% 98.628%, 78.99% 97.918%, 79.79% 97.09%, 80.44% 96.158%, 80.925% 95.138%, 81.229% 94.044%, 81.333% 92.891%, 81.333% 90.521%, 81.333% 90.521%, 81.438% 89.368%, 81.741% 88.274%, 82.226% 87.254%, 82.877% 86.323%, 83.676% 85.494%, 84.609% 84.784%, 85.657% 84.206%, 86.805% 83.775%, 88.036% 83.505%, 89.333% 83.412%, 92% 83.412%, 92% 83.412%, 93.298% 83.319%, 94.529% 83.05%, 95.677% 82.619%, 96.725% 82.041%, 97.657% 81.33%, 98.456% 80.502%, 99.107% 79.57%, 99.592% 78.55%, 99.895% 77.456%, 100% 76.303%, 100% 7.109%);
      @media (max-width: 375px) {
        padding: 10px;
        width: 173px;
        clip-path: polygon(100% 5.725%, 100% 5.725%, 99.887% 4.797%, 99.558% 3.916%, 99.032% 3.094%, 98.327% 2.344%, 97.46% 1.677%, 96.45% 1.105%, 95.314% 0.639%, 94.07% 0.292%, 92.736% 0.075%, 91.329% 0%, 8.671% 0%, 8.671% 0%, 7.264% 0.075%, 5.93% 0.292%, 4.686% 0.639%, 3.55% 1.105%, 2.54% 1.677%, 1.673% 2.344%, 0.968% 3.094%, 0.442% 3.916%, 0.113% 4.797%, 0% 5.725%, 0% 94.275%, 0% 94.275%, 0.113% 95.203%, 0.442% 96.084%, 0.968% 96.906%, 1.673% 97.656%, 2.54% 98.323%, 3.55% 98.895%, 4.686% 99.361%, 5.93% 99.708%, 7.264% 99.925%, 8.671% 100%, 63.584% 100%, 63.584% 100%, 64.99% 99.925%, 66.324% 99.708%, 67.568% 99.361%, 68.704% 98.895%, 69.715% 98.323%, 70.581% 97.656%, 71.287% 96.906%, 71.812% 96.084%, 72.141% 95.203%, 72.254% 94.275%, 72.254% 87.405%, 72.254% 87.405%, 72.368% 86.476%, 72.696% 85.595%, 73.222% 84.774%, 73.927% 84.023%, 74.794% 83.356%, 75.804% 82.784%, 76.94% 82.318%, 78.184% 81.971%, 79.518% 81.754%, 80.925% 81.679%, 91.329% 81.679%, 91.329% 81.679%, 92.736% 81.604%, 94.07% 81.388%, 95.314% 81.04%, 96.45% 80.575%, 97.46% 80.002%, 98.327% 79.335%, 99.032% 78.585%, 99.558% 77.764%, 99.887% 76.883%, 100% 75.954%, 100% 5.725%);
      }
    }

    &_formBig {
      background: url(../images/radialgradient.svg) no-repeat 175px, $purleGradient;
      padding-left: 50px;
      padding-top: 43px;
      clip-path: polygon(100% 7.109%, 100% 7.109%, 99.943% 5.956%, 99.778% 4.862%, 99.515% 3.842%, 99.161% 2.911%, 98.727% 2.082%, 98.22% 1.372%, 97.65% 0.793%, 97.026% 0.362%, 96.357% 0.093%, 95.652% 0%, 4.348% 0%, 4.348% 0%, 3.643% 0.093%, 2.974% 0.362%, 2.35% 0.793%, 1.78% 1.372%, 1.273% 2.082%, 0.839% 2.911%, 0.485% 3.842%, 0.222% 4.862%, 0.057% 5.956%, 0% 7.109%, 0% 92.891%, 0% 92.891%, 0.057% 94.044%, 0.222% 95.138%, 0.485% 96.158%, 0.839% 97.09%, 1.273% 97.918%, 1.78% 98.628%, 2.35% 99.207%, 2.974% 99.638%, 3.643% 99.907%, 4.348% 100%, 85.507% 100%, 85.507% 100%, 86.213% 99.907%, 86.882% 99.638%, 87.505% 99.207%, 88.075% 98.628%, 88.582% 97.918%, 89.016% 97.09%, 89.37% 96.158%, 89.633% 95.138%, 89.798% 94.044%, 89.855% 92.891%, 89.855% 90.521%, 89.855% 90.521%, 89.912% 89.368%, 90.077% 88.274%, 90.34% 87.254%, 90.694% 86.323%, 91.128% 85.494%, 91.635% 84.784%, 92.205% 84.206%, 92.829% 83.775%, 93.498% 83.505%, 94.203% 83.412%, 95.652% 83.412%, 95.652% 83.412%, 96.357% 83.319%, 97.026% 83.05%, 97.65% 82.619%, 98.22% 82.041%, 98.727% 81.33%, 99.161% 80.502%, 99.515% 79.57%, 99.778% 78.55%, 99.943% 77.456%, 100% 76.303%, 100% 7.109%);

      @media (max-width: 375px) {
        background: url(../images/radial-gradientM.svg) no-repeat 0 0, $purleGradient;
        width: 355px;
        height: 295px;
        background-size: cover;
        padding-left: 20px;
        padding-top: 23px;
        padding-right: 0;
        padding-bottom: 22px;
        clip-path: polygon(100% 5.085%, 100% 5.085%, 99.945% 4.26%, 99.785% 3.478%, 99.528% 2.748%, 99.185% 2.082%, 98.762% 1.489%, 98.27% 0.981%, 97.716% 0.568%, 97.11% 0.259%, 96.46% 0.067%, 95.775% 0%, 4.225% 0%, 4.225% 0%, 3.54% 0.067%, 2.89% 0.259%, 2.284% 0.568%, 1.73% 0.981%, 1.238% 1.489%, 0.815% 2.082%, 0.472% 2.748%, 0.215% 3.478%, 0.055% 4.26%, 0% 5.085%, 0% 94.915%, 0% 94.915%, 0.055% 95.74%, 0.215% 96.522%, 0.472% 97.252%, 0.815% 97.918%, 1.238% 98.511%, 1.73% 99.019%, 2.284% 99.432%, 2.89% 99.741%, 3.54% 99.933%, 4.225% 100%, 82.254% 100%, 82.254% 100%, 82.939% 99.933%, 83.589% 99.741%, 84.195% 99.432%, 84.749% 99.019%, 85.241% 98.511%, 85.664% 97.918%, 86.007% 97.252%, 86.263% 96.522%, 86.424% 95.74%, 86.479% 94.915%, 86.479% 88.814%, 86.479% 88.814%, 86.534% 87.989%, 86.694% 87.206%, 86.951% 86.477%, 87.294% 85.811%, 87.716% 85.218%, 88.209% 84.71%, 88.762% 84.296%, 89.369% 83.988%, 90.019% 83.795%, 90.704% 83.729%, 95.775% 83.729%, 95.775% 83.729%, 96.46% 83.662%, 97.11% 83.47%, 97.716% 83.161%, 98.27% 82.748%, 98.762% 82.239%, 99.185% 81.647%, 99.528% 80.981%, 99.785% 80.251%, 99.945% 79.469%, 100% 78.644%, 100% 5.085%);
      }
    }

    &_big {
      width: 690px;

      @media (max-width: 375px) {
        width: 355px;
        grid-row: 1;
        grid-column: 1/3;
      }
    }

    &_small {
      @media (max-width: 375px) {
        height: 262px;
      }
    }
  }

  &__link {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 375px) {
      width: 40px;
      height: 40px;

      img {
        width: 20px;
        height: 20px;
      }
    }

    &_arrow {
      background-color: $black;
    }

    &_cart {
      background-color: $pink;
    }
  }

  &__text {
    &_minus {
      margin-right: 17px;
      margin-top: 55px;
      height: 10px;
      width: 45px;

      @media (max-width: 375px) {
        display: none;
      }

      &_mobile {
        display: none;

        @media (max-width: 375px) {
          display: block;
          width: 30px;
          height: 5px;
          margin-right: 5px;
        }
      }
    }

    &Container {
      display: flex;
      gap: 10px;
      margin-bottom: 25px;
      align-items: center;

      @media (max-width: 375px) {
        margin-bottom: 7px;
        flex-direction: column;
        align-items: flex-start;
        gap: 0;
        height: fit-content;
      }

      img {
        @media (max-width: 375px) {
          display: none;
        }
      }
    }

    &_16 {
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 140%;
      color: $darkGrey;
      position: relative;

      @media (max-width: 375px) {
        font-size: 12px;
        margin-top: 3px;
      }

      &_desc {
        @media (max-width: 375px) {
          display: none;
        }
      }

      &_deleted {
        &::before {
          content: "";
          border-bottom: 1px solid $darkGrey;
          position: absolute;
          top: -2px;
          width: 92%;
          height: 50%;
          transform: rotate(-3deg);
        }
      }
    }

    &_24 {
      font-size: 24px;
      font-weight: 600;
      color: white;

      &_black {
        color: $black;
      }

      @media (max-width: 375px) {
        height: fit-content;
      }

      &_desc {
        display: inline;

        @media (max-width: 375px) {
          display: none;
        }
      }

      @media (max-width: 375px) {
        font-size: 18px;
      }

      &_big {
        max-width: 244px;
        margin-top: 20px;
      }
    }

    &_30 {
      font-size: 30px;
      font-weight: 700;
      color: white;
      position: absolute;
      left: 0;
      top: 100px;

      @media (max-width: 375px) {
        font-size: 24px;
        font-weight: 600;
        top: 93px;
      }
    }

    &_65 {
      font-size: 65px;
      font-weight: 700;
      color: white;
      line-height: 65px;
      margin-top: 5px;
      height: 100px;

      @media (max-width: 375px) {
        font-size: 45px;
      }
    }

    &_100 {
      font-size: 100px;
      line-height: 100px;
      height: 100px;
      font-weight: 700;
      color: white;

      @media (max-width: 375px) {
        font-size: 70px;
        height: 81px;
      }
    }
  }

  &__image {
    width: 105px;

    @media (max-width: 375px) {
      width: 74px;
      height: 85px;
    }

    &Container {
      padding: 58px 111px 32px 109px;
      border: 2px solid $grey;
      border-radius: 30px;
      position: relative;

      @media (max-width: 375px) {
        border-radius: 10px;
        padding: 22px 40px;
        height: 130px;
      }
    }

    &_big {
      width: 233px;
      position: absolute;
      top: 70px;
      right: 47px;

      @media (max-width: 375px) {
        width: 142px;
        top: 43px;
        right: 19px;
      }
    }
  }

  &__spetialText {
    padding: 6px 14px;
    background-color: $pink;
    border-radius: 15px;
    width: fit-content;
    position: absolute;
    top: 15px;
    left: 15px;
    color: white;

    @media (max-width: 375px) {
      padding: 1px 8px;
      border-radius: 20px;
      top: 6px;
      left: 6px;
      font-size: 12px;
    }

    &_mobile {
      display: none;

      @media (max-width: 375px) {
        display: inline;
        color: white;
      }
    }

    &_desctop {
      display: inline;
      color: white;

      @media (max-width: 375px) {
        display: none;
      }
    }
  }

  &__productName {
    width: 321px;
    height: 52px;
    margin-top: 20px;
    white-space: pre;
    text-overflow: ellipsis;
    overflow: hidden;

    @media (max-width: 375px) {
      width: 152px;
      height: 36px;
      margin-top: 8px;
    }

    &_descBr {
      display: inline;

      @media (max-width: 375px) {
        display: none;
      }
    }

    &_mobBr {
      display: none;

      @media (max-width: 375px) {
        display: inline;
      }
    }
  }

  &__button {
    width: 40px;
    height: 40px;
    background-color: white;
    border: none;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 2;
    filter: drop-shadow(3px 6px 14px rgba(115, 103, 151, 0.15));

    @media (max-width: 375px) {
      display: none;
    }

    &_popular {
      bottom: 183px;
      right: 0;
    }

    &_header {
      top: 221px;
      right: 20px;
    }

    &_sales {
      right: 0;
      top: 191px;
    }
  }
}

.saleText {
  position: relative;
  padding-top: 99px;
  height: 340px;
  width: 302px;
  flex-wrap: wrap;
  display: flex;
  background-image: url(../images/B.svg);
  background-position-x: 162px;
  background-repeat: repeat-y;
  align-content: flex-start;

  @media (max-width: 375px) {
    background-image: url(../images/Benjamin.svg);
    width: 335px;
    height: 210px;
    background-position-x: 85px;
    background-position-y: -8px;
    padding-top: 70px;
  }
}

.services {
  display: flex;
  justify-content: space-between;

  @media (max-width: 375px) {
    flex-direction: column;
    gap: 16px;
    margin-bottom: 86px!important;
  }
}

.serviceCard {
  padding: 40px 30px;
  border-radius: 20px;
  background-color: $purpleLight;
  background-image: url(../images/cardBackground.svg);
  background-repeat: no-repeat;
  background-position-x: 0;
  background-position-y: -55px;
  display: grid;
  max-width: 507px;
  column-gap: 80px;
  row-gap: 12px;

  @media (max-width: 375px) {
    background-image: url(../images/card-back-mobile.svg);
    max-width: 355px;
    background-size: cover;
    padding: 23px 5px 22px 9px;
    column-gap: 28px;
    background-position-y: -53px;
    background-position-x: 9px;
  }

  &__img {
    grid-row: 1/3;
    align-self: center;

    @media (max-width: 375px) {
      width: 86px;
    }
  }

  &__header {
    grid-row: 1;
    font-size: 24px;
    font-weight: 600;

    @media (max-width: 375px) {
      font-size: 18px;
    }
  }

  &__text {
    grid-row: 2;
    color: $darkGrey;
  }
}

.popular {
  position: relative;

  @media (max-width: 375px) {
    max-width: 375px !important;
    margin-bottom: 88px;
  }

  &__categories {
    display: flex;
    gap: 15px;
    overflow: hidden;
    width: 100%;
    position: relative;
    margin-bottom: 30px;

    @media (max-width: 375px) {
      gap: 12px;
    }
  }
}

.slider__dot {
  width: 5px;
  height: 5px;
  background-image: url(../images/slider-dot.svg);

  &_active {
    background-image: url(../images/slider-dot-active.svg);
  }

  &s {
    display: flex;
    gap: 3px;
    margin-top: 30px;
    margin-bottom: 30px;
    align-self: center;
  }
}

.section__controls_mobile {
  display: none;
  width: 355px;

  @media (max-width: 375px) {
    display: flex;
    flex-direction: column;
  }
}

.mainSection {
  max-width: 1560px;
  margin: 0 auto;
  margin-bottom: 152px;

  @media (max-width: 375px) {
    max-width: 355px;
    margin-bottom: 0;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;

    &_text {
      font-size: 50px;

      @media (max-width: 375px) {
        font-size: 32px;
      }
    }
  }
}

.gradientText {
  background: $buttonGradient;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.gradientButton {
  padding: 5px 5px 5px 30px;
  color: white;
  background: $buttonGradient;
  border: none;
  border-radius: 15px;
  display: flex;
  align-items: center;
  gap: 25px;

  &_desc {
    @media (max-width: 375px) {
      display: none;
    }
  }

  &_mobile {
    padding: 3px 3px 3px 20px;
    border-radius: 10px;
    font-size: 15px;
    width: fit-content;
    align-self: center;
    display: none;

    @media (max-width: 375px) {
      display: flex;
    }

    &_sales {
      margin: 30px auto;
      margin-bottom: 0;
    }

    &_form {
      align-self: flex-start;
      margin-bottom: 20px;
    }
  }

  &_basket {
    width: 353px;
    justify-content: flex-end;
    gap: 66px;

    &_transparent {
      width: 349px;
      gap: 53px;
      background: white;
      position: relative;
      padding: 3px 3px 3px 28px;
      border-radius: 14px;
      height: 57px;
      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        margin: -2px;
        border-radius: 15px;
        background-image: $buttonGradient;
      }

      &:hover {
        background: white !important;
      }
    }
  }

  &:hover {
    background: $buttonGradientHover;
  }

  &:hover &__img_transparent {
    background: $buttonGradientHover;
  }

  &_basket_transparent:hover::after {
    background-image: $buttonGradientHover !important;
  }

  &:hover .gradientText {
    background: $buttonGradientHover;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
  }

  &__img {
    padding: 13px;
    background-color: white;
    border-radius: 10px;

    @media (max-width: 375px) {
      padding: 8px;
      border-radius: 8px;
      box-sizing: content-box;
      width: 20px;
      height: 20px;
    }

    &_transparent {
      background: $buttonGradient;
    }
  }
}

.categories__gradient {
  width: 41px;
  height: 50px;
  background: linear-gradient(90deg, #fff 36.76%, rgba(255, 255, 255, 0) 99.93%);
  position: absolute;
  right: 0;
  top: 0;
  transform: rotate(180deg);

  @media (max-width: 375px) {
    display: none;
  }
}

.categorie__name {
  padding: 13px 24px;
  background-color: $grey;
  border-radius: 15px;
  white-space: nowrap;

  @media (max-width: 375px) {
    padding: 8px 12px;
    border-radius: 10px;

    img {
      height: 20px;
      width: 20px;
    }
  }

  &_active {
    background-color: $pink;
    color: white;

    @media (max-width: 375px) {
      font-size: 14px;
    }
  }

  &_desctop {
    font-size: inherit;
    @media (max-width: 375px) {
      display: none;
    }
  }

  &_mobile {
    display: none;
    @media (max-width: 375px) {
      display: inline;
      font-size: 15px;
    }
  }

  &_image {
    display: flex;
    gap: 5px;
  }
}

.subCategories {
  display: flex;
  gap: 20px;

  @media (max-width: 375px) {
    flex-wrap: wrap;
    gap: 10px;
  }
}

.subCategorie {
  position: relative;

  &:first-of-type {
    @media (max-width: 375px) {
      img {
        transform: rotateY(0deg);
      }
    }
  }

  @media (max-width: 375px) {
    width: 173px;
    height: 260px;
    overflow: hidden;
    border-radius: 10px;
    display: flex;
    justify-content: center;
  }

  &__picture {
    pointer-events: none;
    height: 260px;

    @media (max-width: 375px) {
      transform: rotateY(180deg);
    }
  }

  &__button {
    display: grid;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 15px;
    left: 15px;
    padding: 12px 20px;
    width: calc(100% - 30px);
    border: 1px solid white;
    border-radius: 20px;
    background-color: rgba(244, 246, 248, 0.5);
    backdrop-filter: blur(6px);

    @media (max-width: 375px) {
      padding: 10px;
      bottom: 10px;
      left: 10px;
      border-radius: 10px;
      gap: 2px;
      text-align: left;
      width: 153px;
    }
  }

  &__text {
    grid-row: 1;
    grid-column: 1;
    justify-self: flex-start;

    @media (max-width: 375px) {
      font-size: 15px;
    }
  }

  &__count {
    grid-row: 2;
    grid-column: 1;
    opacity: 0.6;
    justify-self: flex-start;

    @media (max-width: 375px) {
      font-size: 14px;
    }
  }

  &__icon {
    grid-column: 1;
    grid-row: 3;
    justify-self: flex-start;

    @media (max-width: 375px) {
      width: 20px;
      height: 20px;
    }
  }
}

.sales {
  @media (max-width: 375px) {
    margin-bottom: 88px;
  }

  &__items {
    position: relative;
    display: flex;
    gap: 9px;
    filter: drop-shadow(5px 15px 50px rgba(173, 178, 201, 0.45));

    @media (max-width: 375px) {
      flex-wrap: wrap;
    }
  }
}

.form {
  &__container {
    background-color: $purpleLight;
    border-radius: 50px;
    display: flex;
    justify-content: flex-end;
    padding: 62px 125px;
    height: 497px;
    position: relative;

    @media (max-width: 375px) {
      padding: 49px 20px;
      border-radius: 20px;
      height: 481px;
      margin-bottom: 88px;
    }
  }

  &__header {
    font-size: 50px;
    margin-bottom: 20px;

    @media (max-width: 375px) {
      font-size: 32px;
    }
  }

  &__text {
    color: $darkGrey;
    margin-bottom: 40px;
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 40px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;

    @media (max-width: 375px) {
      display: none;
    }
  }

  &__submit {
    &Text {
      color: $darkGrey;
      max-width: 267px;
    }

    &Link {
      text-decoration: underline;
    }

    display: flex;
    justify-content: space-between;

    @media (max-width: 375px) {
      flex-direction: column-reverse;
    }
  }
}

.footer {
  max-width: 1560px;
  background-color: $grey;
  margin: 0 auto;
  margin-bottom: 50px;
  border-radius: 50px;
  padding: 60px 60px 25px 60px;

  @media (max-width: 375px) {
    max-width: 375px;
    border-radius: 0;
    padding: 29px 20px 10px 10px;
    margin-bottom: 0;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
    border-bottom: 1px solid #d9d9d9;

    @media (max-width: 375px) {
      flex-direction: row-reverse;
    }
  }

  &__text {
    color: $darkGrey;
  }

  &__header {
    margin-bottom: 15px;

    @media (max-width: 375px) {
      margin-bottom: 12px;
    }

    &_about {
      margin-bottom: 3px;
    }
  }

  &__contacts {
    display: grid;
    column-gap: 50px;
    height: fit-content;

    @media (max-width: 375px) {
      display: flex;
      flex-direction: column;
    }
  }

  &__logo {
    grid-column: 1;
    grid-row: 1;

    @media (max-width: 375px) {
      width: 41px;
      height: 41px;
    }

    &_desc {
      @media (max-width: 375px) {
        display: none;
      }
    }

    &_mob {
      display: none;

      @media (max-width: 375px) {
        display: block;
        margin-bottom: 40px;
      }
    }
  }

  &__rating {
    grid-column: 1;
    grid-row: 2;
  }

  &__button {
    grid-column: 1;
    grid-row: 3;
  }

  &__social {
    margin-bottom: 58px;
    display: flex;
    gap: 15px;
    height: 30px;
    
    @media (max-width: 375px) {
      margin-bottom: 25px;
    }
  }

  &__paymentInfo {
    grid-column: 2;
    grid-row: 3;
    align-self: center;

    @media (max-width: 375px) {
      width: 139px;
      align-self: flex-start;
      margin-bottom: 36px;
    }
  }

  &__star {
    @media (max-width: 375px) {
      width: 24px;
    }
  }

  &__about {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__button {
    border-radius: 15px;
    border: 1px solid $darkGrey;
    background-color: transparent;
    padding: 13px 23.5px;
    height: fit-content;
  }

  &__rating {
    display: flex;
    gap: 16px;
    height: 24px;
    margin-bottom: 30px;
  }

  &__copyright {
    color: $darkGrey;
    margin-top: 25px;

    @media (max-width: 375px) {
      width: 303px;
      text-align: center;
      margin: 28px auto;
      margin-bottom: 0;
    }
  }

  &__catalog {
    display: none;
  }
}

.catalog {
  &__items {
    display: flex;
    max-width: 610px;
    gap: 30px;
  }

  &__column {
    display: flex;
    flex-direction: column;
    gap: 12px;

    &_1 {
      max-width: 271px;
    }
  }
}

.contacts__links {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.basket {
  box-shadow: 5px 15px 70px 0px rgba(173, 178, 201, 0.35);
  width: 786px;
  height: 774px;
  position: absolute;
  top: 250px;
  right: 180px;
  background-color: white;
  z-index: 2;
  border-radius: 40px;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  display: none;

  &_active {
    display: flex;
  }

  &__header {
    font-size: 24px;
  }

  &__count {
    color: $darkGrey;
  }

  &__top {
    display: flex;
    gap: 7px;
    align-items: flex-end;
    padding-bottom: 25px;
    border-bottom: 1px solid $line;
    margin-right: 50px;
    margin-left: 30px;
  }

  &__items {
    border-right: 3px solid $line;
    margin-right: 30px;
    margin-left: 30px;
  }

  &__item {
    display: flex;
    padding: 20px 0;
    border-bottom: 1px solid $line;
    margin-right: 20px;
  }

  &Item {
    max-width: 405px;
    margin-right: 70px;

    &__image {
      padding: 25px 16px 20px 15px;
      border: 2px solid $grey;
      border-radius: 20px;
      width: 100px;
      height: 100px;
      margin-right: 15px;
    }

    &__name {
      margin-bottom: 15px;
    }

    &__info {
      display: flex;
      gap: 34px;
    }

    &__colorName {
      display: flex;
      gap: 5px;
      margin-left: 11px;
    }

    &__color {
      width: 20px;
      height: 20px;
      border-radius: 100%;

      &_orange {
        background-color: #ed9039;
      }

      &_purple {
        background-color: #b5afde;
      }
    }
  }

  &__price {
    display: flex;
    flex-direction: column;

    &_count {
      align-self: flex-end;
      margin-top: 15px;
    }

    &_old {
      color: $darkGrey;
      align-self: flex-end;
      position: relative;

      &::before {
        content: "";
        border-bottom: 1px solid $darkGrey;
        position: absolute;
        top: -2px;
        width: 92%;
        height: 50%;
        transform: rotate(-3deg);
      }
    }
  }

  &__delte {
    margin-left: 30px;
    height: fit-content;
    align-self: center;
  }

  &__bottom {
    margin-top: auto;
    flex-direction: column;
    box-shadow: 5px 15px 70px 0px rgba(173, 178, 201, 0.35);
    padding: 30px;
    display: flex;
    gap: 20px;
  }

  &Bottom__buttons {
    display: flex;
    gap: 20px;
  }

  &Result {
    display: flex;
    gap: 20px;
    align-self: flex-end;

    &__text {
      color: $darkGrey;
      display: flex;
      align-items: flex-end;
      padding-bottom: 3px;
    }

    &__price {
      font-weight: 600;
      font-size: 24px;
    }
  }
}

.applicationApproved {
  width: 1224px;
  height: 385px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  justify-content: center;
  background-color: $purpleLight;
  background-image: url(../images/paint-background.svg);
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: calc(50vh - 192.5px);
  left: calc(50vw - 612px);
  z-index: 4;
  border-radius: 30px;

  &__header {
    font-size: 50px;
  }

  &__text {
    color: $darkGrey;
    width: 643px;
    text-align: center;
  }

  &__background {
    background-color: $black;
    opacity: 0.4;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
  }

  &_active {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: block;
  }

  &_none {
    display: none;
  }

  &__button {
    background-color: transparent;
    border: none;
    position: absolute;
    right: 20px;
    top: 20px;
  }
}
